.inputStyleSelect{
    background-color: green;
    color: white;
}
.correct {
  
    background-color: #00c853;
  }
  .incorrect {
    background-color: #b43636;
    
  }
  .default{
   color: black;
  }
// .fav{
//   display:inline-flex;
// }
.fav1{
  float: left;;
}
.fav2{
  float:right;
}
